{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  <!-- jQuery library -->

</head>
<body>

{% block content %}
<div style="margin-left: 20%; padding: 1em;">
    <h1>{{ book.title }}</h1>
    <img src="{{ book.image }}" alt="{{ book.title }} cover">
    <p>Author: {{ book.author }}</p>
    <p>Genre: {{ book.genre }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>Total Pages: {{ book.total_pages }}</p>
    
    {% if bookmark %}
        {{ bookmark.reading_status }}
        <br>
        {% if bookmark.reading_status == "CURRENTLY_READING" %}
            <p> I have read {{ bookmark.reading_progress}} out of {{ book.total_pages}}
            <br>
            <a href="{% url 'bookmark' google_books_id=book.google_books_id %}"> bookmark </a>
        {% else %}
            <br>
            <a href="{% url 'bookmark' google_books_id=book.google_books_id %}"> bookmark </a>
        {% endif %}
    {% else %}
        <a href="{% url 'bookmark' google_books_id=book.google_books_id %}"> bookmark </a>
    {% endif %}
    
    <br>
    {% if rating %}
        Your rating: {{ rating.rate }} out of 5
        <a href="{% url 'rate_book' google_books_id=book.google_books_id %}">Change your rating</a>
    {% else %}
        <a href="{% url 'rate_book' google_books_id=book.google_books_id %}">Rate this book</a>
    {% endif %}
    <br>
    <a href="{% url 'review_book' google_books_id=book.google_books_id %}"> Review </a>

    {% for comment in comments %}
    <br>
        {{comment.user.username}}: {{comment.review}}
    {% empty %}
        <a href="{% url 'review_book' google_books_id=book.google_books_id %}">Review</a>
    {% endfor %}

    {% endblock content %}

</div>
    <script>

    $("#bookmarkButton").click(function(){
        console.log('Bookmark button clicked');
        $("#bookmarkOptions").show();
        });

    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });
        
    $(document).ready(function(){
        $("#bookmarkButton").click(function(){
            $("#bookmarkOptions").show();
        });
    
        $(".bookmarkOption").click(function(){
            var reading_status = $(this).data('status');
            $.ajax({
                url: "{% url 'bookmark' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'book_id': '{{ book.google_books_id }}',
                    'reading_status': reading_status,
                },
                success: function(response){
                    alert(response);
                    $("#bookmarkOptions").hide();
                    if (reading_status == 'CURRENTLY_READING') {
                        $("#readingProgress").show();
                    }
                }
            });
        });
    
        $("#updateProgress").click(function(){
            var reading_progress = $("#progressBar").val();
            $.ajax({
                url: "{% url 'bookmark' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'book_id': '{{ book.google_books_id }}',
                    'reading_status': 'CURRENTLY_READING',
                    'reading_progress': reading_progress,
                },
                success: function(response){
                    alert(response);
                }
            });
        });
    });

    
    var progressBar = document.getElementById("progressBar");
    var progressText = document.getElementById("progress");

    progressBar.oninput = function() {
        progressText.textContent = this.value;
    }

    </script>

</body>
</html>
