{% extends 'base.html' %}
{% load templatetags %}

{% block content %}

<style>
   .profile {
    background-color: white;
    border-radius: 30px;
    margin-right: 20px;
    height: 150px; /* Adjust as needed */
  }
  a{
    color: black;
  }
  a:hover {
  transition : 610ms;
  transform : translateY(-0px);
  background-color: #fff;
  color: #0066cc;
  border: none;
  }
</style>

<div style="background-color:white; width: 40%; margin: 0 auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); padding: 20px; font-size: 0.8em;">
  <h1 style="font-size: 1.2em;">Your Feed</h1>
  {% for action in actions %}
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
      <a href={% url 'profile' action.user.username %}><img src="{{ action.user.profile.profile_image.url }}" class="profile" style="height: 50px; width: 50px; margin-right: 10px;">
      <strong>{{ action.user.username }}</strong></a>
      {% if action|class_name == 'Comment' %}
        <div style="background-color: #f9f9f9; padding: 10px; margin-top: 10px;">
          commented on <a href="{% url 'book_detail2' id=action.book.google_books_id %}">{{ action.book.title }}</a>: 
          <p>{{ action.review }}</p>
        </div>
      {% elif action|class_name == 'Rate' %}
        <div style="background-color: #f9f9f9; padding: 10px; margin-top: 10px;">
          rated <a href="{% url 'book_detail2' id=action.book.google_books_id %}">{{ action.book.title }}</a>: 
          <p>{{ action.rate }} out of 5</p>
        </div>
      {% elif action|class_name == 'User_Bookmark' %}
      <div style="background-color: #f9f9f9; padding: 10px; margin-top: 10px;">
        bookmarked <a href="{% url 'book_detail2' id=action.book.google_books_id %}">{{ action.book.title }}</a>: 
        <p>{{ action.reading_status }}</p>
      </div>
      {% endif %}
      <div style="display: flex; align-items: center; margin-top: 10px; border-radius: 10px; overflow: hidden; border: 1px solid black;">
        <img src="{{ action.book.image }}" style="height: 100px; width: 33.33%;">
        <div style="padding: 10px;">
          <h3><a href="{% url 'book_detail2' id=action.book.google_books_id %}">{{ action.book.title }}</a></h3>
          <p><a href="{% url 'author' author=action.book.author %}" >{{ action.book.author }}</a></p>
          <p>{{ action.book.summary }}</p>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No actions to display.</p>
  {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('.like-button').click(function(){
        // Toggle the like button style
        $(this).toggleClass('liked');
    });

    $('.comment-form').submit(function(e){
        e.preventDefault();

        // Get the comment text
        var text = $(this).find('input[name="text"]').val();

        // Create a new comment element
        var comment = $('<p></p>').text(text);

        // Add the new comment to the page
        $(this).parent().append(comment);

        // Clear the comment input
        $(this).find('input[name="text"]').val('');
    });
});
</script>

{% endblock %}
