{% load static %}
<style>
    
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.6);
        backdrop-filter: blur(10px); 
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .navbar {
        width: 15%;
        height: 100%;
        position: fixed;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
    }
    
    .navbar div {
        flex-direction: column;
    }
    
    .navbar a {
        text-decoration: none;
        color: black;
        margin-bottom: 2em; /* Adjust this value to increase or decrease the space between the items */
    }
    
    .navbar .middle {
        margin-top: 2em;
    }
    
    .navbar .bottom {
        margin-top: auto;
        margin-bottom: 5px;
    }
        
        
    #search-sidebar {
        margin-left: 30px;
        position: fixed;
        width: 200px;
        height: 100%;
        overflow: auto;
        background-color: #f2f2f2;
        left: 15%; /* Adjust this value to match the width of your navbar */
        transform: translateX(-100%);
        transition: transform 5s ease; /* Add transition */
    }
    
    #search-results a{
        display: block;
        padding: 10px;
        margin: 5px 0;
        color: black;
        text-decoration: none;
    }

    #search-results a:hover {
        background-color: #f2f2f2;
    }
            
    #overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
    }
    .loader {
        width: 10px;
        height: 15px;
        border-radius: 30%;
        display: block;
        margin:20px auto;
        position: relative;
        color: #000;
        box-sizing: border-box;
        animation: animloader 1s linear infinite alternate;
      }
      
      @keyframes animloader {
        0% {
          box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
        }
        33% {
          box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
        }
        66% {
          box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
        }
        100% {
          box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
        }
      }


    .fa {
    margin-right: 5px;
    }

    .fa-home {
    color: #2a2a2a;
    }

    .fa-search {
    color: #2a2a2a;
    }

    .fa-book {
    color: #2a2a2a;
    }

    .fa-plus {
    color: #2a2a2a;
    }

    .fa-bookmark {
    color: #2a2a2a;
    }

    .fa-cog {
    color: #2a2a2a;
    }

    .fa-sign-out {
    color: #2a2a2a;
    }
    
  </style>
  
  <div class="navbar">
    <!-- Navigation Links -->
    <div class="nav-links">
        <a href="{% url 'profile' request.user.username %}"><i class="fa fa-home"></i> Reader Page</a>
        <a href="#"><i class="fa fa-book"></i> My Library</a>
        <a id="search-link" href="#"><i class="fa fa-search"></i> Search</a>
        <a href="#"><i class="fa fa-plus"></i> Create New</a>
        <a href="#"><i class="fa fa-bookmark"></i> Favourite</a>
    </div>

    <!-- Settings and Logout -->
    <div class="settings-logout">
        <a id='settingslink' href="#"><i class="fa fa-cog"></i> Settings</a>
        <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#search-link').on('click', function(e) {
            e.preventDefault();
            if ($('#search-sidebar').css('display') === 'none') {
                $('#search-sidebar').css('transform', 'translateX(-100px)'); // Slide out
                $('#search-sidebar').css('display', 'block'); // Show if it's hidden
                $('#search-sidebar').css('transform', 'translateX(0px)'); // Slide out
                $('#overlay').show(); // Show overlay
            } else {
                $('#search-sidebar').css('display', 'none'); // Slide in if it's visible
                $('#overlay').hide(); // Hide overlay
            }
        });
    
        $('#search-input').on('input', function(e){
            $.ajax({
                url: '/search/',  // Update with your search view URL
                data: {
                  'q': $('#search-input').val()
                },
                dataType: 'json',
                success: function (data) {
                    $('#search-results').empty();
                    $.each(data, function(index, element) {
                        $('#search-results').append('<a href="' + element.url + '">' + element.username + '</a><br>');
                    });
                }
            });
        });
    
        // When the user clicks the button, open the modal 
        $('#settingslink').click(function() {
            $('#settingsModal').show();
        });
    
        // When the user clicks on <span> (x), close the modal
        $('.close').click(function() {
            $('#settingsModal').hide();
        });
    
        // When the user clicks anywhere outside of the modal, close it
        $(window).click(function(event) {
            if ($(event.target).is('#settingsModal')) {
                $('#settingsModal').hide();
            }
        });
    });
    
</script>